*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
}
div{
  display: flex;
}
.div{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  background-color: blueviolet;
}
