*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home,
.reports,
.products,
.messages,
.support,
.team{
    display: flex;
    height: 90vh;
    justify-content: center;
    font-size: 3rem;
    padding: 40px;
    flex-direction: column;

}